# Configuración de la base de datos
DB_USER=postgres
DB_HOST=localhost
DB_NAME=hauzzo
DB_PASSWORD=tu_password_aqui
DB_PORT=5432

# Configuración de ImageKit (opcional para el seed)
IMAGEKIT_API_PUBLIC_KEY=tu_public_key_aqui
IMAGEKIT_API_KEY=tu_private_key_aqui
IMAGEKIT_ENDPOINT_URL=tu_endpoint_aqui
